.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem;
}

.main_nav ul {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.Counter {
  padding: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 500px;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  transition: 0.3s;
}

.card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.card div {
  display: flex;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.01);
}

button {
  padding: 1rem;
  background-color: gold;
  border: none;
  border-radius: 20px;
}
.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 10px;

}

.container{ 
  width: 87%; 
  flex-wrap: wrap; 
  display: flex;

} 
.col{ 
  width: 300px; 
  height: 350px; 
  background-color: gold; 
  border: 1px solid grey; 
  border-radius: 10px; 
  margin-left: 200px; 
} 
.col img{ 
  border-radius: 10px; 
width:250px; 
margin-left: 25px; 
} 
.col p,h4{ 
  margin-left: 25px; 
}
span{
  font-size: 40px;
}